<div class="cart">
  <h2>Your cart</h2>
  <div *ngIf="cartItems$ | async as cartItems; else cartItemsEmpty">
   
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="item-details">
        <h3>{{ item.title }}</h3>
        <p>Author: {{ item.author }}</p>
        <p>Price: {{ item.price }} din</p>
      </div>
      <div class="item-actions">
        <button (click)="removeFromCart(item)">Remove</button>
      </div>
    </div>
  </div>
  <ng-template #cartItemsEmpty>
    
    <p>Your cart is empty.</p>
  </ng-template>
  <div class="cart-summary">
    <p>Total items: {{ cartItemCount$ | async }}</p>
    <p>Total price: {{ totalCartPrice$ | async }} din</p>
   
    <form (ngSubmit)="placeOrder1(username, password)">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" id="orderButton">Order</button>
    </form>
    

  </div>
</div>


 


  