<div class="book-editor">
    <span *ngIf="book">
    <h2>{{book.title}}</h2>
    <h4>{{book.author}}</h4>
    <p>Available: {{book.available}}</p>
    <p>Price: {{book.price}}</p>
    <p>
        <!-- <button (click)="like()">Like</button>
        <button (click)="dislike()">Dislike</button> -->
        <button (click)="addToCart(book)">Add to cart</button>
        <!-- <span>Rating: {{rating()}}</span> -->
    </p>
    <img [src]="book.imageurl" alt="Slika knjige" class="book-image">
    
    </span>
</div>



  
