<div class="book-editor">
    <span *ngIf="book">
    <h2>{{book.title}}</h2>
    <h4>{{book.author}}</h4>
    <p>{{book.available}}</p>
    <p>Selected book Id: {{book.id}}</p>
    <p>
        <button (click)="like()">Like</button>
        <button (click)="dislike()">Dislike</button>
        <app-book-editor [book]="book" (addToCartClicked)="addToCart()"></app-book-editor>

        <span>Rating: {{rating()}}</span>
    </p>
    <img [src]="book.imageurl" alt="Slika knjige" class="book-image">
    
    </span>
</div>



  
