.container {
    display: flex;
}

/* Stil za "bookstore" komponentu */
app-bookstore {
    margin-right: 200px; // Dodajte željeni razmak sa desne strane "bookstore" komponente
}

app-cart {
    margin-left: 200px; // Dodajte željeni razmak sa desne strane "bookstore" komponente
}
